@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.color{
  width:100px;
  height:100px;
  background:red;
  animation:myfirst 5s;
  -moz-animation:myfirst 5s;
  -webkit-animation:myfirst 5s;
  -o-animation:myfirst 5s;
  float:left;
}

@keyframes myfirst{
  from{background:red;}
  to{background:yellow}
}
@-moz-keyframes myfirst{
  from{background:red;}
  to{background:yellow}
}
@-o-keyframes myfirst{
  from{background:red;}
  to{background:yellow}
}